body{
  background-color: #FCEEE8;
  margin-top: 40px;
}

.home{
  width: 500px;
}
.bio{
  margin-left: 20px ;
  margin-bottom: 20px;
}
a {
  text-decoration: none;
}

.social{
  color: #A52F47;
  font-size: 32px;

}